AWS_REGION=us-east-1
AWS_ACCOUNT_ID=123456789012
CLUSTER_NAME=togglemaster-fase2
ECR_PREFIX=togglemaster
MASTER_KEY=admin-secreto-123
DYNAMODB_TABLE=ToggleMasterAnalytics
SQS_QUEUE_NAME=togglemaster-analytics-events
